@model DHGCDB.ViewModels.ReviewForView

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValuationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValuationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsJoint)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsJoint)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PortfolioSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PortfolioSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnnualCharges)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnnualCharges)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfFunds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfFunds)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.HowConducted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HowConductedView)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.KIIDsGiven)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KIIDsGivenView)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ReviewType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewTypeView)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    </p>


    <hr />

    <h4>Review - Individuals</h4>
    <hr />

    @foreach(var indivReview in Model.IndividualReviews) {

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(rev => indivReview.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(rev => indivReview.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(rev => indivReview.YearOfRiskScore )
        </dt>

        <dd>
            @Html.DisplayFor(rev => indivReview.YearOfRiskScore )
        </dd>

        <dt>
            @Html.DisplayNameFor(rev => indivReview.RiskChanged )
        </dt>

        <dd>
            @Html.DisplayFor(rev => indivReview.RiskChanged)
        </dd>

        <dt>
            @Html.DisplayNameFor(rev => indivReview.AboveOrBelowOutput )
        </dt>

        <dd>
            @Html.DisplayFor(rev => indivReview.AboveOrBelowOutput)
        </dd>

    </dl>
    @Html.ActionLink("Edit", "EditPersonReview", "Review", new { ID = indivReview.ID }, new { })
    }

</div>
<p>
    @Html.ActionLink("Back to Client", "Details", "Client", new { ID = Model.ClientID }, new { } )
</p>
