@model DHGCDB.ViewModels.FundForView

@{
    ViewBag.Title = "Fund Details";
}

<h2>Fund Details</h2>

<div>
    <h4>@Model.Name </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description )
        </dd>
    </dl>
    <hr />
    <h4>ATR Allocations</h4>
    <table class="table">
        <tr>
            <th>
                ATR Score
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ATRAllocations.FirstOrDefault().Percentage )
            </th>
            <th></th>
        </tr>

        <tr>
            <td>50</td>
            <td>@Html.DisplayFor(model => model.ATR50)</td>
        </tr>
        <tr>
            <td>60</td>
            <td>@Html.DisplayFor(model => model.ATR60)</td>
        </tr>
        <tr>
            <td>70</td>
            <td>@Html.DisplayFor(model => model.ATR70)</td>
        </tr>
        <tr>
            <td>80</td>
            <td>@Html.DisplayFor(model => model.ATR80)</td>
        </tr>
        <tr>
            <td>90</td>
            <td>@Html.DisplayFor(model => model.ATR90)</td>
        </tr>
        <tr>
            <td>100</td>
            <td>@Html.DisplayFor(model => model.ATR100)</td>
        </tr>

     </table>
     <hr />
</div>
<p>
    @Html.ActionLink("Edit", "EditFund", new { id = Model.ID }) | 
    @Html.ActionLink("Back to Fund Selection", "Details", new { ID = Model.FundSelectionID } )
</p>
